/* 
 * Header container
 */

.header {
    background-color: $color-white;
    height: $spacing-base * 8;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;

    @include breakpoint(large) {
        height: $spacing-base * 10;
    }
}

.header__container {
    @include grid-container();
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* 
 * Logo
 */

.header__logo {
    width: 40px;
}

.header__logo-shapes {
    fill: $color-black;
}

/* 
 * Navigation
 */

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-right: $spacing-base * 2;

    @include breakpoint(large) {
        margin-right: $spacing-base * 4;
    }
}

.header__nav-item:last-of-type {
    margin-right: 0;
}

.header__nav-link {
    @include text-style(small);
}

.header__nav-link:hover,
.header__nav-link--current {
    box-shadow: 0 4px 0 -2px $color-white;
}

/* 
 * Custom header styles on the homepage.
 */

#home .header {
    background-color: $color-black;
    position: static;
    left: auto;
    transform: translateX(0);
}

#home .header__logo-shapes {
    fill: $color-white;
}

#home .header__nav-link {
    @include text-style(white);
}

#home .header__nav-link:hover,
#home .header__nav-link--current {
    box-shadow: 0 4px 0 -2px $color-white;
}