.link-with-icon__icon {
    font-size: 1.8em;
    margin-right: 0.2em;
    position: relative;
    top: .2em;
}

.link-with-icon--is-dark {
    & .link-with-icon__icon,
    & .link-with-icon__text { 
        color: $color-white;
    }

    & .link-with-icon__text {
        box-shadow: 0 2px 0 $color-accent;
    }

    & a:hover .link-with-icon__text {
        color: $color-accent;
    }
}