.project-markdown-image img {
    width: 100%;
}

p + .project-markdown-image,
h1 + .project-markdown-image,
h2 + .project-markdown-image,
h3 + .project-markdown-image {
    margin-top: $spacing-base * 6;

    @include breakpoint(large) {
        margin-top: $spacing-base * 12;
    }
}

.project-markdown-image + .project-markdown-image,
.project-markdown-video + .project-markdown-image {
    margin-top: $spacing-base * 2;

    @include breakpoint(large) {
        margin-top: $spacing-base * 4;
    }
}