.project-markdown {
    @include grid-container;

    margin-top: $spacing-base * 5;
    
    @include breakpoint(large) {
        margin-top: $spacing-base * 10;
    }
}

.project-markdown img {
    width: 100%;
}

.project-markdown p {
    margin-top: $spacing-base * 6;

    @include breakpoint (large) {
        margin-top: $spacing-base * 12;
    }
}