---
layout: default
---

<section class="hero-introduction">
    <div class="hero-introduction__grid-container grid-container">
        <h1 class="hero-introduction__heading">{{ page.hero.introduction.heading }}</h1>
        <p class="hero-introduction__text">{{ page.hero.introduction.text }}</p>
        
        <div class="hero-introduction__linkcontainer">
            {% for link in page.hero.links %}
            <a class="hero-introduction__link" href="{{ link.url }}">
                <i class="hero-introduction__link-icon {{link.icon}}"></i><span class="hero-introduction__link-text">{{ link.text }}</span>
            </a>
            {% endfor %}
        </div>

        <img class="hero-introduction__image"
            srcset="{{ page.hero.image.x1 }} 1x,
                    {{ page.hero.image.x2 }} 2x,
                    {{ page.hero.image.x3 }} 3x"
            src="{{ page.hero.image.x1 }}"
            alt="{{ page.hero.image.description }}">
    </div>
</section>
<section class="grid-container">
    {% for textblock in page.text %}
    <h2>{{ textblock.heading }}</h2>
    <p>{{ textblock.text }}</p>
    {% endfor %}
</section>