---
layout: default

custom-javascript:
    - /assets/js/imagesloaded.pkgd.min.js
    - /assets/js/masonry.pkgd.min.js
    - /assets/js/project-grid.js
---

<section class="hero-introduction">
    <div class="hero-introduction__grid-container">
        <h1 class="hero-introduction__heading">{{ page.hero.introduction.heading }}</h1>
        <p class="hero-introduction__text">{{ page.hero.introduction.text }}</p>
        
        <div class="hero-introduction__linkcontainer">
            {% for link in page.hero.links %}
            <a class="hero-introduction__link" href="{{ link.url }}">
                <i class="hero-introduction__link-icon {{link.icon}}"></i><span class="hero-introduction__link-text">{{ link.text }}</span>
            </a>
            {% endfor %}
        </div>

        <img class="hero-introduction__image"
            srcset="{{ page.hero.image.x1 }} 1x,
                    {{ page.hero.image.x2 }} 2x,
                    {{ page.hero.image.x3 }} 3x"
            src="{{ page.hero.image.x1 }}"
            alt="{{ page.hero.image.description }}">
    </div>
</section>

<section class="home__textblocks">
    {% for textblock in page.text %}
    <h2>{{ textblock.heading }}</h2>
    <p>{{ textblock.text }}</p>
    {% endfor %}
</section>

<section class="project-grid">
    <h2>My Work</h2>
    <div class="project-grid__teaserlist">
        {% for project in site.posts %}
        <div class="project-grid__teaser">
            <a href="{{ project.url }}">
                <div class="project-grid__image-zoom-container">
                    <img src="{{ project.cover-image.x2 }}" alt="{{ project.cover-image.description }}" class="project-grid__image">
                </div>
            </a>
            <h3 class="project-grid__title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
            <p class="project-grid__description">{{ project.teaser-text }}</p>
            <p class="project-grid__date">{{ project.date | date: "%Y" }}</p>
        </div>
        {% endfor %}
        <div class="project-grid__gutter-sizer"></div>
    </div>  
</section>