---
layout: default
---

<section class="project-abstract">
    <h1 class="project-abstract__title">{{ page.title }}</h1>
    <p class="project-abstract__text">{{ page.subheader }}</p>

    <table class="project-abstract__infos">
        <tr><td class="project-abstract__infos-header">Role</td><td class="project-abstract__infos-text">{{ page.role }}</td></tr>
        <tr><td class="project-abstract__infos-header">Client</td><td class="project-abstract__infos-text">{{ page.client }}</td></tr>
        <tr><td class="project-abstract__infos-header">Year</td><td class="project-abstract__infos-text">{{ page.date | date: "%Y" }}</td></tr>
    </table>
</section>

<section class="project-markdown">
    {{ content }}
</section>